nav {
  display: flex;
  justify-content: right;
  height: 5%;
  border-bottom: 1px solid gainsboro;
  background-color: darkslategray;
  color: white;
  font-weight: bold;
}

nav p {
  margin-right: 50px;
}

nav :hover {
  color: orange;
}

.main-menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5%;
}

.menu-container {
  width: 47.5%;
  height: 100px;
  border: 1px solid darkslategray;
  padding: 10px;
  text-align: center;
}

.menu-container :hover {
  background-color: darkslategray;
  color: white;
  border-radius: 20px;
  height: 50px;
  cursor: pointer;
}

.main-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.centered-content {
  width: 60%;
}
